<!DOCTYPE html>
<html>
  <head>
    <title>転クエ掲示板</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
